body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}


.flex {
    display: flex;
    background-image: url(img/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.half-width {
    width: 50%;
    padding: 5%;
    font-size: xx-large;
    text-align: justify;
}

.half-width img {
    height: 90%;
    width: 90%;
    padding-top: 0%;
}

#top-padding {
    padding-top: 10%;
}

.link-button {
    text-decoration: none;
    background-image: radial-gradient(orange, tomato);
    border-radius: 35px;
    padding: 15px 10px;
    color: white;
}

.Section2 {
    display: flex;
    background-image: url(img/rutibackground.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 610px;
}

#img-ghosamaja {
    height: 510px;
    width: 700px;
    padding-top: 25px;
    padding-left: 5px;
}

.section3 {
    height: 700px;
}

.recipies-hader {
    text-align: center;
}

.recipes {
    display: flex;
    text-align: justify;
    height: 1000px;
    margin-top: 60px;
}

.rannabanna {
    width: 30%;
    height: 45%;
    padding: 2%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 40px;
}

.rannabanna img {
    height: 60%;
    width: 100%;
    border-radius: 20px;
}

#recipe1 {
    margin-left: 15%;
    margin-right: 2%;
}

#recipe {
    margin-left: 2%;
    margin-right: 15%;
}

.section4 {
    height: 50px;
    margin-top: 0px;
}

.section4main {
    display: flex;
    text-align: center;
    border-radius: 20px;
    margin: 10%;
    margin-bottom: 50%;
    box-shadow: 10px 10px 40px gray;
}

.onethird-width {
    width: 30%;
    padding: 5%;
    text-align: center;
    font-weight: 700;
}

.footermain {
    text-align: center;
    color: aqua;
    background-color: rgb(2, 2, 50);
    margin-top: 300px;
}

span {
    color: orange;
}